body {
    background: linear-gradient(135deg, #000000, #00042a, #000000);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1,h2,h3,h4,h5,p {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    text-transform: none; /*RESPETA LAS MAYUSCULAS*/
}
.tarjeta {
    background: linear-gradient(135deg, #1a0070 60%,#00205c 100%);
    color: #fff;
    border-radius: 1em;
    box-shadow: 0 4px 16px rgba(35,41,70,0.2);
    transition: transform 0.2s;
    margin: 5px ;
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 24px rgba(35,41,70,0.3) ;
}
/* LAS IMAGENES SE AJUSTAN AUTOMATICAMENTE CON ESTO */
img {
    max-width: 100%;
    height: auto;
}

.card-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;
    color: #fff ;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.btn-rol {
    background-color: #004e86 ;
    border: none;
    color: #ffffff;
    width: 100%;
    border-radius: 0.5em;
    font-size: 1.1em;
}

.btn-rol:hover {
    background-color: #0a0a2b;
    color: #ffffff;
} 