body {
    background: linear-gradient(135deg, #044136, #0d6e5c);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1,h2,h3,h4,h5,p {
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    text-transform: none; /*RESPETA LAS MAYUSCULAS*/
}

/*LA TARJETA DIOS MIO!!! */
.tarjeta {
    background: linear-gradient(135deg,  #097964 ,#14a88c );
    color: #fff;
    border-radius: 1em;
    box-shadow: 0 4px 16px rgba(35,41,70,0.2);
    transition: transform 0.2s;
    margin: 5px ;
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 24px rgba(35,41,70,0.3) ;
}
.juego-img {
    width: 100%;             /* ancho completo de la tarjeta */
    height: 200px;           /* fuerza altura igual a todas */
    object-fit: cover;       /* recorta la imagen para llenar el espacio */
    display: block;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.card-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;
    color: #fff ;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
}

.btn-rol {
    background-color: #003834 ;
    border: none;
    color: #ffffff;
    width: 100%;
    border-radius: 0.5em;
    font-size: 1.1em;
}

.btn-rol:hover {
    background-color: #012220;
    color: #ffffff;
} 

.navbar-custom {
    background: linear-gradient(135deg, #03062f, #1a0070);
    padding: 1em;
    box-shadow: 0 2px 10px rgba(0,0,0,0.6);
    position: sticky; /* siempre visible arriba */
    top: 0;
    z-index: 1000;
}

.navbar-custom a {
    color: #fff;
    text-decoration: none;
    margin: 0 1em;
    font-weight: bold;
}

.navbar-custom a:hover {
    color: #f8d210;
}
#reloj {
    font-size: 2rem;
    font-weight: bold;
    color: #f8d210;
    text-shadow: 0 0 10px rgba(248,210,16,0.7);
}

.tarjeta-landing {
    background: linear-gradient(135deg, #004e86 60%, #6d6d9c 100%);
    border-radius: 1em;
    box-shadow: 0 4px 16px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.search-bar {
            max-width: 400px;
            margin: 0 auto;
        }
.juego-img {
            width: 100%;
            height: 220px;
            object-fit: cover;
            border-radius: 10px;
        }
.tarjeta {
            border-radius: 15px;
            transition: transform 0.2s;
        }
.tarjeta:hover {
            transform: scale(1.03);
        }